.getting-started-step1-icon {
  margin-top: 21px;
}

.getting-started-step2-icon {
  margin-top: 0px;
}

.getting-started-step3-icon {
  margin-top: 13px;
}

.getting-started-col-btn {
  position: absolute;
  bottom: 0;
}