# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

cdk.out
node_modules
build
dist
dist-ssr
*.local
*.tsbuildinfo
.turbo
.nestjs_repl_history

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/test-results/
/playwright-report/
/playwright/.cache/
/playwright/.auth/
coverage
/.cognito/db/*
/apps/client/html/*