@import '../../../styles/variables.css';

.btn-custom-primary {
  background: var(--colors-background-button) !important;
  border-color: var(--colors-background-button) !important;
}

.btn-custom-primary:hover {
  background: var(--colors-button-hover) !important;
  border-color: var(--colors-button-hover) !important;
}

.dashboard-table-filter div div {
  max-width: 100% !important;
}