/**Custom footer component CSS*/

.dashboard-footer-container { 
    z-index: 1002; 
    position:sticky;
    bottom:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.dashboard-footer-container ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.dashboard-footer-right-content {
    display: flex;
}